<div class="container-fluid">
<%= form_with model: @job_category, url: job_categorys_path do |form| %>
  <div class="row">
    <div class="col-md-4 mx-4 mt-5">
      <%= image_tag "file.gif", class:"img-fluid"%>
    </div>
    <div class="col-md-3 mx-5">
      <div class="form-group my-4">
        <h1 class="text-center fw-bold">Create Category</h1>
        <div>
           <%= image_tag "document.gif", class:"img-fluid"%>
        </div>
        <span>
          <%= form.label :Category_name, class:'mb-2 fw-bold' %>
          <img width="24" height="24" src="https://img.icons8.com/ios/50/user-male-circle--v1.png" alt="user-male-circle--v1"/ class="ms-2 mb-1">
        </span>
        <%= form.text_field :name, class:'form-control form-control-lg rounded-0' %>
        <% @job_category.errors.full_messages_for(:name).each do |message| %>
        <p class="text-danger"> <%= message %></p>
        <% end %>
      </div>

      <%= form.hidden_field :user_id, value: current_user.id%>

      <div class="row">
        <div class="col-lg-12">
          <%= form.submit "Create Category", class: 'btn btn-primary btn-lg rounded-0 me-2' %>
          <%= link_to "back to Home", root_path, class:"btn btn-outline-primary btn-lg rounded-0" %>
        </div>
      </div>
    </div>
    <div class="col-md-3 mx-4">
      <%= image_tag "doc-2.jpeg", class:'mt-5'%>
    </div>
  </div>
  <% end %>
</div>